
.wrapper{
  color: #FFB6C1;
  width: 70%;
  margin: auto;
  font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
  
  .header{
    text-align: center;
    .shop_name{
      letter-spacing: 10px;
      font-size: 350%;
      color:#000000;
      font-weight: bold;
      
      }
    .shop_name:first-letter{
        color: #DC143C;
        
      }

    .shop_name_ruby{
      color: #000000;
      margin-bottom: -15px;
    }
  }
  
  .contents_bar {
    text-align: center;
    position: relative;
    padding: 0.25em 1em;
    border: solid 2px #FFB6C1;
    border-radius: 3px 0 3px 0;
    text-decoration: none;
    margin: 20px 0px;
    font-weight: bold;
    

    .contents_bar:before, .contents_bar:after {
      content: '';
      position: absolute;
      width:10px;
      height: 10px;
      border: solid 2px #FFB6C1;
      border-radius: 50%;

      .contents_bar:after {
        top:-12px;
        left:-12px;
      }

      .contents_bar:before {
        bottom:-12px;
        right:-12px;
      }
    }
  }


  .menu_gallery{    
    .menu{
      display: flex;
      #button{
        color: #000080;
        margin: 20px auto;
        text-align: center;
        text-decoration: none;
      }
    }
  }


  .infomation{
    margin-bottom: 30px;
    .comment_twitter{
      color: #000080;
    }
    .recruit{
      width: 50%;
      color: #000080;
      border: solid 2px #FFB6C1;
      margin: auto;
      line-height: 40px;
      font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
      .recruit_title{
        font-size: 150%;
        text-align: center;
        color: red;
      }

    }
  }
    
  .footer{
    
    .comment_last{
      border: solid 2px #FFB6C1;
      color: #000080;
      text-align: center;
    }
    
    .kutikomi{
      height: 700px;
      
    }
    
    #map{
      width: 100%;
      
    }
    .bussiness_hours{
      width: 60%;
      border: solid 2px #FFB6C1;
      margin: auto;

      .hours_title{
        color: #000080;
        text-align: center;
        
      }
      .hours_list{
        color: #000080;
        width: 60%;
        display: flex;
        justify-content: space-around;
        margin: auto;
        
        
        .holiday{
          width: 30%;
          
        }
        
        .list{
          list-style: none;
          text-decoration: none;
        }    
      }
    }
  }
  
  a{
     text-decoration: none;
  }
  
  a:hover {
    text-decoration:underline;
  }
}