
.wrapper{
  color: #FFB6C1;
  width: 70%;
  margin: auto;
  font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
  
  .header{
    text-align: center;
    .shop_name{
      font-size: xxx-large;
      color:#000000;
      font-weight: bold;
      
      }
    .shop_name:first-letter{
        color: #DC143C;
        
      }
  }

  .top_contents{
    text-align: center;
  }
  
  .main_contents{
    h4 {
      text-align: center;
      position: relative;
      padding: 0.25em 1em;
      border: solid 2px #FFB6C1;
      border-radius: 3px 0 3px 0;

      h4:before, h4:after {
        content: '';
        position: absolute;
        width:10px;
        height: 10px;
        border: solid 2px #FFB6C1;
        border-radius: 50%;

        h4:after {
          top:-12px;
          left:-12px;
        }

        h4:before {
          bottom:-12px;
          right:-12px;
        }
      }
    }
    

    .menu{
      display: flex;
      #button{
        margin: 20px auto;
        text-align: center;
        text-decoration: none;
      }
      a:visited{
        color: #FFB6C1;
      }

    }
    
    .kutikomi{
      height: 500px;
    }

    #map{
      width: 100%;
      padding-top: 10px;

    }
  }
  
  .footer{
    width: 60%;
    margin: auto;
    border: solid 1px;

    .footer_title{
      text-align: center;

    }
    
    .bussiness_hours{
      display: flex;
      justify-content: space-around;
      
      .holiday{
        width: 30%;
      
      }

      .list{
        list-style: none;
        text-decoration: none;
      }    
    }
  }

  
}